.container{
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    padding: 20px;
    box-sizing: border-box; 
}
.about-page-container {

    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 872px; 
    align-items: flex-start;
    justify-content: space-between; 
    gap: 40px; 
    padding: 0px; 
    box-sizing: border-box;
    margin: 0 auto;
}
.about-page-content{
    display: flex;
    padding-top: 110px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1.5 0 0;
}
.introduction-contanier{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    align-self: stretch;
    border-radius: 10px;
    background: #FCFCFC;
}
.profile-image-placeholder{
    width: 70%;
    align-self: stretch;
    border-radius: 10px;
    background-color: #f6f6f6;
}
.profile-image-placeholder img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.intro-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    align-self: stretch;
}
.intro-heading{
    align-self: stretch;
    color: #242426;
    font-family: "Test Tiempos Fine";
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
}
.intro-content{
    align-self: stretch;
    color: #242426;
    font-family: Matter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; 
}
.about-section-2-container{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    align-self: stretch;
    border-radius: 10px;
    background: #FCFCFC;
    margin-bottom: 150px;
}
.section-2-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    align-self: stretch;
}
.section-2-heading{
    align-self: stretch;
    color: #242426;
    font-family: "Test Tiempos Fine";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-2-content{
    align-self: stretch;
    color: #242426;
    font-family: Matter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; 
}

/* PAGE INFO*/
.page-info-outer-container {
    display: flex;
    padding: 140px 60px 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    position: sticky;
    top: 5px;

}
.page-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
    padding: 0;
}
.page-heading{
    align-self: stretch;
    color: #242426;
    font-family: "Test Tiempos Fine";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.page-subheading{
    align-self: stretch;
    color: #242426;
    font-family: Matter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; 
    padding: 0;
    margin: 0;
}
.social-link{
    display: inline-flex;
    align-items: center;
    gap: 19px;
    cursor: pointer;
}

.arrow{
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 10px;
    height: auto; 
}
.link-text{
    color: #242426;
    font-family: Matter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}



@media screen and (max-width: 750px) {
    .about-page-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 872px; 
        align-items: flex-start;
        justify-content: space-between; 
        gap: 0px; 
        padding: 0px; 
        box-sizing: border-box;
        margin: 0 auto; 
    }
    .about-page-content{
        display: flex;
        padding-top: 110px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex: 1.5 0 0;
    }
    .introduction-contanier{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
        align-self: stretch;
        border-radius: 10px;
        background: #FCFCFC;
    }
    .profile-image-placeholder{
        width: 100%;
        align-self: stretch;
        border-radius: 10px;
        background-color: #f6f6f6;
    }
    .profile-image-placeholder img {
        height: auto;
        width: 100%;
    }
    .intro-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        align-self: stretch;
    }
    .intro-heading{
        align-self: stretch;
        color: #242426;
        font-family: "Test Tiempos Fine";
        font-size: 35px;
        font-weight: 400;
        line-height: normal;
    }
    .intro-content{
        align-self: stretch;
        color: #242426;
        font-family: Matter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px; 
    }
    .about-section-2-container{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
        align-self: stretch;
        border-radius: 10px;
        background: #FCFCFC;
        margin-bottom: 50px;
    }
    .section-2-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        align-self: stretch;
    }
    .section-2-heading{
        align-self: stretch;
        color: #242426;
        font-family: "Test Tiempos Fine";
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .section-2-content{
        align-self: stretch;
        color: #242426;
        font-family: Matter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px; 
    }

    /* PAGE INFO*/
    .page-info-outer-container {
        display: flex;
        padding: 0px 60px 80px 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;
        top: 5px;

    }
    .page-heading-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        align-self: stretch;
        padding: 0;
    }
    .page-heading{
        display: none;
    }
    .page-subheading{
        align-self: stretch;
        color: #242426;
        font-family: Matter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        padding: 0;
        margin: 0;
    }
    .social-link{
        display: inline-flex;
        align-items: center;
        gap: 19px;
        cursor: pointer;
    }

    .arrow{
        display: flex; 
        align-items: center; 
        justify-content: center;
        width: 10px;
        height: auto; 
    }
    .link-text{
        color: #242426;
        font-family: Matter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
}