.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Adjust padding for better spacing */
    box-sizing: border-box;
    top: 0px;
    position: fixed;
    background-color: #f6f6f6;
    transition: top 0.8s ease-in-out; /* Smooth transition for hiding/showing */
    z-index: 1242426;
}

.nav-bar.hidden {
    top: -63px;  /* Adjust based on navbar height */
}
.nav-bar.visible {
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 872px;
}

.logo {
    color: #242426;
    font-family: "Test Tiempos Fine";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navbar-link {
    display: flex;
    padding: 0px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
    color: #242426;
    font-family: Matter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navbar-link:hover{
    color: #727272;
    font-family: Matter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resume-button {
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #242426;
    cursor: pointer;

    color: #242426;
    font-family: Matter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resume-button:hover {
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #CEEAFF;

    color: #242426;
    font-family: Matter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media screen and (max-width: 750px) {
    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
        top: 0px;
        position: fixed;
        background-color: #f6f6f6;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 20px 20px;
    }
    
    .logo {
        color: #242426;
        font-family: "Test Tiempos Fine";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }
    
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .navbar-link {
        display: flex;
        padding: 0px 7px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        
        color: #242426;
        font-family: Matter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .navbar-link:hover{
        color: #727272;
        font-family: Matter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .resume-button {
        display: flex;
        padding: 6px 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid #242426;
        cursor: pointer;
    
        color: #242426;
        font-family: Matter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .resume-button:hover {
        display: inline-flex;
        padding: 6px 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background: #CEEAFF;
    
        color: #242426;
        font-family: Matter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
}

a{
    text-decoration: none;
    cursor: pointer;
}